In [3]:
import pandas as pd
# noinspection PyUnusedImports
import matplotlib.pyplot as plt

df = pd.read_csv("HollywoodMovies.csv")

In [9]:
quest_movies = df[df["story"] == "AudienceScore"]
highest_rated_quest = quest_movies.loc[
    quest_movies["RottenTomatoes"].idxmax()
]

highest_rated_quest[["movie_name", "rotten_tomatoes_rating"]]

KeyError: 'story'

In [11]:
most_common_genre = df["Genre"].value_counts().idxmax()
most_common_genre

'Comedy'

In [15]:
top_budget_movies = df.sort_values(
    by="Budget", ascending=False
).head(5)

top_budget_movies[["Movie", "Budget"]]

                                        Movie  Budget
3    Pirates of the Caribbean: At World's End   300.0
468                                   Tangled   260.0
0                                Spider-Man 3   258.0
710                               John Carter   250.0
778                     The Dark Knight Rises   250.0

In [18]:
df["Openprofit"] = df["Profitability"] - df["Budget"]

In [20]:
plt.figure()
plt.scatter(df["Rottentomatoes"], df["OpenProfit"])
plt.xlabel("RottenTomatoes Rating")
plt.ylabel("Profitability")
plt.title("Critics Rating vs Public Acceptance")
plt.show()

KeyError: 'Rottentomatoes'

In [21]:
import pandas as pd

data = {
    "first_name": ["Jason", "Molly", "Tina", "Jake", "Amy"],
    "last_name": ["Miller", "Jacobson", ".", "Milner", "Cooze"],
    "age": [42, 52, 36, 24, 73],
    "preTestScore": [4, 24, 31, ".", "."],
    "postTestScore": ["25,000", "94,000", 57, 62, 70]
}

df = pd.DataFrame(data)
print(df)

  first_name last_name  age preTestScore postTestScore
0      Jason    Miller   42            4        25,000
1      Molly  Jacobson   52           24        94,000
2       Tina         .   36           31            57
3       Jake    Milner   24            .            62
4        Amy     Cooze   73            .            70

In [22]:
df.to_csv("example.csv", index=False)

In [23]:
df = pd.read_csv("example.csv")
print(df)

  first_name last_name  age preTestScore postTestScore
0      Jason    Miller   42            4        25,000
1      Molly  Jacobson   52           24        94,000
2       Tina         .   36           31            57
3       Jake    Milner   24            .            62
4        Amy     Cooze   73            .            70

In [24]:
df_no_header = pd.read_csv("example.csv", header=None)
print(df_no_header)

            0          1    2             3              4
0  first_name  last_name  age  preTestScore  postTestScore
1       Jason     Miller   42             4         25,000
2       Molly   Jacobson   52            24         94,000
3        Tina          .   36            31             57
4        Jake     Milner   24             .             62
5         Amy      Cooze   73             .             70

In [25]:
df = pd.read_csv("example.csv")
df.set_index(["first_name", "last_name"], inplace=True)
print(df)

                      age preTestScore postTestScore
first_name last_name
Jason      Miller      42            4        25,000
Molly      Jacobson    52           24        94,000
Tina       .           36           31            57
Jake       Milner      24            .            62
Amy        Cooze       73            .            70

In [26]:
print(df.isnull())

                        age  preTestScore  postTestScore
first_name last_name
Jason      Miller     False         False          False
Molly      Jacobson   False         False          False
Tina       .          False         False          False
Jake       Milner     False         False          False
Amy        Cooze      False         False          False

In [27]:
df_skip = pd.read_csv("example.csv", skiprows=3)
print(df_skip)

   Tina       .  36 31  57
0  Jake  Milner  24  .  62
1   Amy   Cooze  73  .  70

In [28]:
df_thousands = pd.read_csv("example.csv", thousands=",")
print(df_thousands)
print(df_thousands["postTestScore"])

  first_name last_name  age preTestScore  postTestScore
0      Jason    Miller   42            4          25000
1      Molly  Jacobson   52           24          94000
2       Tina         .   36           31             57
3       Jake    Milner   24            .             62
4        Amy     Cooze   73            .             70
0    25000
1    94000
2       57
3       62
4       70
Name: postTestScore, dtype: int64

In [29]:
import pandas as pd
import numpy as np

data = pd.Series(['Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat'])
print(data)

0    Amit
1     Bob
2    Kate
3       A
4       b
5     NaN
6     Car
7     dog
8     cat
dtype: object

In [30]:
print(data.str.lower())

0    amit
1     bob
2    kate
3       a
4       b
5     NaN
6     car
7     dog
8     cat
dtype: object

In [31]:
print(data.str.upper())

0    AMIT
1     BOB
2    KATE
3       A
4       B
5     NaN
6     CAR
7     DOG
8     CAT
dtype: object

In [32]:
print(data.str.len())

0    4.0
1    3.0
2    4.0
3    1.0
4    1.0
5    NaN
6    3.0
7    3.0
8    3.0
dtype: float64

In [33]:
import pandas as pd

data = pd.Series([' Atul', 'John ', ' jack ', 'Sam'])
print(data)

0      Atul
1     John
2     jack
3       Sam
dtype: object

In [34]:
print(data.str.strip())

0    Atul
1    John
2    jack
3     Sam
dtype: object

In [35]:
print(data.str.lstrip())

0     Atul
1    John
2    jack
3      Sam
dtype: object

In [36]:
print(data.str.rstrip())

0     Atul
1     John
2     jack
3      Sam
dtype: object

In [37]:
import pandas as pd
import numpy as np

data = pd.Series([
    'India_is_big',
    'Population_is_huge',
    np.nan,
    'Has_diverse_culture'
])

print(data)

0           India_is_big
1     Population_is_huge
2                    NaN
3    Has_diverse_culture
dtype: object

In [38]:
split_series = data.str.split('_')
print(split_series)

0           [India, is, big]
1     [Population, is, huge]
2                        NaN
3    [Has, diverse, culture]
dtype: object

In [39]:
print(split_series.str[1])

0         is
1         is
2        NaN
3    diverse
dtype: object

In [40]:
expanded_df = data.str.split('_', expand=True)
print(expanded_df)

            0        1        2
0       India       is      big
1  Population       is     huge
2         NaN      NaN      NaN
3         Has  diverse  culture

In [41]:
import pandas as pd
import numpy as np

s = pd.Series([
    'A', 'B', 'C', 'AabX', 'BacX', '', np.nan, 'CABA', 'dog', 'cat'
])
print(s)

0       A
1       B
2       C
3    AabX
4    BacX
5
6     NaN
7    CABA
8     dog
9     cat
dtype: object

In [42]:
result = s.replace(to_replace=r'(X|dog)', value='XX-XX', regex=True)
print(result)

0           A
1           B
2           C
3    AabXX-XX
4    BacXX-XX
5
6         NaN
7        CABA
8       XX-XX
9         cat
dtype: object

In [43]:
s = pd.Series(['12', '-$10', '$10,000'])
print(s)

0         12
1       -$10
2    $10,000
dtype: object

In [44]:
cleaned = s.str.replace('$', '', regex=False)
print(cleaned)

0        12
1       -10
2    10,000
dtype: object

In [45]:
s = pd.Series(['india 1998', 'big country', np.nan])
print(s)

0     india 1998
1    big country
2            NaN
dtype: object

In [46]:
reversed_words = s.str.replace(
    r'\b[a-z]+\b',
    lambda x: x.group()[::-1],
    regex=True
)
print(reversed_words)

0     aidni 1998
1    gib yrtnuoc
2            NaN
dtype: object

In [48]:
import pandas as pd
import numpy as np

s = pd.Series(['1', '2', '1a', '2b', '2003c'])
print(s)

0        1
1        2
2       1a
3       2b
4    2003c
dtype: object

In [49]:
print(s.str.isalnum())

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [50]:
s = pd.Series(['1', '2', '1a', '2b', 'America', 'VietnAm', 'vietnam', '2003c'])
print(s)

0          1
1          2
2         1a
3         2b
4    America
5    VietnAm
6    vietnam
7      2003c
dtype: object

In [51]:
print(s.str.contains('A', na=False))

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7    False
dtype: bool

In [52]:
s = pd.Series(['a', 'a|b', np.nan, 'a|c'])
print(s)

0      a
1    a|b
2    NaN
3    a|c
dtype: object

In [53]:
df = pd.DataFrame({
    'a': s.str.contains('a', na=False).astype(int),
    'b': s.str.contains('b', na=False).astype(int),
    'c': s.str.contains('c', na=False).astype(int)
})

print(df)

   a  b  c
0  1  0  0
1  1  1  0
2  0  0  0
3  1  0  1

In [54]:
df_left = pd.DataFrame({
    'key': ['One', 'Two'],
    'ltable': [1, 2]
})

df_right = pd.DataFrame({
    'key': ['One', 'Two'],
    'rtable': [4, 5]
})

In [55]:
merged_df = pd.merge(df_left, df_right, on='key')
print(merged_df)

   key  ltable  rtable
0  One       1       4
1  Two       2       5

In [56]:
import pandas as pd
import numpy as np

df = pd.read_csv("Salaries.csv")

# Replace NaN with 0 for pay-related columns
pay_cols = ['BasePay', 'OvertimePay', 'OtherPay', 'TotalPay', 'TotalPayBenefits']
df[pay_cols] = df[pay_cols].fillna(0)

/tmp/ipykernel_8307/3979275249.py:4: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Salaries.csv")

In [57]:
salary_2011 = df[df['Year'] == 2011]['TotalPayBenefits'].sum()
salary_2014 = df[df['Year'] == 2014]['TotalPayBenefits'].sum()

increase = salary_2014 - salary_2011
increase

np.float64(1227752749.88)

In [58]:
df_2014 = df[df['Year'] == 2014]

highest_mean_job = (
    df_2014.groupby('JobTitle')['TotalPayBenefits']
    .mean()
    .idxmax()
)

highest_mean_job

'Chief Investment Officer'

In [59]:
overtime_savings_2014 = df_2014['OvertimePay'].sum()
overtime_savings_2014

np.float64(205918599.27)

In [60]:
top5_jobs = df_2014['JobTitle'].value_counts().head(5)

top5_cost = (
    df_2014[df_2014['JobTitle'].isin(top5_jobs.index)]
    .groupby('JobTitle')['TotalPayBenefits']
    .sum()
)

top5_cost

JobTitle
Firefighter                     1.448270e+08
Public Svc Aide-Public Works    9.806317e+06
Registered Nurse                1.872165e+08
Special Nurse                   5.344305e+07
Transit Operator                2.149764e+08
Name: TotalPayBenefits, dtype: float64

In [61]:
top_earner = df.groupby('EmployeeName')['TotalPayBenefits'].sum().idxmax()
top_earner

'Kevin Lee'

In [62]:
last5_jobs = df_2014['JobTitle'].value_counts().tail(5)

last5_cost = (
    df_2014[df_2014['JobTitle'].isin(last5_jobs.index)]
    .groupby('JobTitle')['TotalPayBenefits']
    .sum()
)

last5_cost

JobTitle
Baker                        14114.55
Cashier 3                     2074.60
Chief Investment Officer    436224.36
Transit Planner 2            14803.33
Transit Planner 4            16008.88
Name: TotalPayBenefits, dtype: float64

In [63]:
overtime_percentage = (
    df_2014['OvertimePay'].sum() /
    df_2014['TotalPayBenefits'].sum()
) * 100

overtime_percentage

np.float64(5.3879076631956595)

In [64]:
lowest_mean_job = (
    df_2014.groupby('JobTitle')['TotalPayBenefits']
    .mean()
    .idxmin()
)

lowest_mean_job

'BdComm Mbr, Grp2,M=$25/Mtg'